/*rrr.css*/

input[type=text], textarea {

width: 100%;

padding: 15px 20px;

margin: 10px 0;

box-sizing: border-box;

border: none;

}

input[type=submit], [type=reset] , [type=button]{

width: 10%;

background-color: #b8dbdd;

color: #29a1af;

padding: 14px 20px;

margin: 8px 0;

border: none;

border-radius: 5px;

cursor: pointer;

}

input[type=submit]:hover, [type=reset]:hover , [type=button]:hover {

background-color: #36adc1;

color: b8dbdd;

}

#form1 {

border-radius: 20px;

background-color: #87c6d7;

padding: 20px;

}

